.listContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  position: relative;
}

.listItem {
  cursor: pointer;
}

.listItem img {
  transition: all 0.15s;
}

.loadingBlur .listItem {
  filter: blur(2px);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.gridHeader {
  border: solid #d4d4d4;
  border-width: 0 0 1px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 4fr 4fr 4fr;
  grid-template-areas: "gridStar gridRank gridIcon gridName gridPrice gridPercentChange gridVolume";
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  transition: all 0.5s;
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridIcon {
  text-align: center;
  grid-area: gridIcon;
}

.grid > div.gridStar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: gridStar;
}

.gridRank {
  text-align: center;
  grid-area: gridRank;
}

.grid .gridName {
  justify-content: flex-start;
  grid-area: gridName;
}

.grid .gridPrice {
  grid-area: gridPrice;
}

.grid .gridPercentChange {
  grid-area: gridPercentChange;
}

.grid .gridVolume {
  grid-area: gridVolume;
}

.sortersClickable .sorter {
  user-select: none;
}

.sortersClickable .sorter:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .listContainer {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr 1fr 2fr 3fr 4fr 5fr;
    grid-template-areas: "gridStar gridRank gridIcon gridName gridPrice gridPercentChange";
    font-size: 0.85em;
  }

  .grid .gridVolume {
    display: none;
  }
}

.cryptoIcon {
  height: 1.5em;

  background-color: white;
  border-radius: 50%;
}

.cryptoDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: start;
  grid-template-areas: "thresholdSelect chart chart .";
  position: relative;
}

.thresholdSelect {
  grid-area: thresholdSelect;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  grid-area: chart;
}

@media (max-width: 768px) {
  .cryptoDetails {
    grid-template-columns: 100%;
    grid-template-areas: "thresholdSelect" "chart";
  }
}
