.menuItem {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 10px;
  transition: 0.2s all;
  user-select: none;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItem:hover {
  background-color: #c5c6c7;
}

.menuItem > .wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.2s all;
  user-select: none;
}

.menuItem > .wrapper > .menuIcon {
  margin-right: 1em;
}

.menuItem > .contentWrapper {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  transition: all 0.7s linear;
  max-height: 0;
  overflow: hidden;
}

.menuItem > .contentWrapper > ul {
  padding-left: 25px;
  padding-right: 5px;
}

.contentWrapper.notificationActive {
  max-height: 500px;
  transition: all 1.5s linear;
}

.notificationBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(228, 66, 66);
  color: white;
  font-size: 0.9rem;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  z-index: 90;
  right: 21px;
}

@media (prefers-color-scheme: dark) {
  .menuItem > .contentWrapper {
    background-color: #1b1b1b;
    color: #c5c5c5;
  }

  .menuItem:hover {
    background-color: #3a3a3a;
  }
}
