.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  border-radius: 10px;
  border: solid 1px #858585;
  padding: 2em;
  background-color: var(--background-color-2);
  color: var(--font-color);
}

.profileForm {
  margin-top: 5px;
}

.profileForm form {
  display: flex;
  flex-direction: column;
  width: 21rem;
}

.container h2 {
  margin-bottom: 2em;
}

.formItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  align-items: center;
}

.formItem input {
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

.formSubmit {
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  font-family: "Montserrat";
  cursor: pointer;
  background-color: #488a44;
  color: white;
  margin-bottom: 1em;
}

.error {
  color: rgb(204, 67, 67);
}

.error,
.success {
  margin-top: 2em;
  text-align: center;
  line-height: 1.5em;
  max-width: 350px;
  font-size: 0.9em;
}

.success {
  color: rgb(18, 153, 58);
}

.profileFormSpan {
  margin-top: 0;
}

.formLabel {
  display: flex;
  width: 23rem;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color-2);
  color: var(--font-color);
  padding: 0.6em;
  border-radius: 10px;
}

.formLabel p {
  margin-left: 0.4em;
}

.rightFormLabelIcon {
  margin-left: auto;
}

.formCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
}

.formCheckboxContainer input {
  margin: 1em;
}

.formCheckboxContainer label {
  text-align: start;
  font-size: 0.9em;
}
