.container {
  display: flex;
  margin-bottom: 1em;
  width: 300px;
  justify-content: space-evenly;
}

.button {
  margin: 0 1em;
  padding: 0.5em 1em;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat";
  color: white;
  background-color: var(--button-color-secondary);
}

.button.active {
  background-color: var(--button-color-secondary-active);
  font-weight: bold;
}
