.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.thresholdItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thresholdItem {
  margin: 0.5em 0.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Montserrat";
  color: white;
  background-color: var(--button-color-secondary);
}

.thresholdItem.active {
  background-color: var(--button-color-secondary-active);
  font-weight: bold;
}

@media (max-width: 768px) {
  .cryptoDetails {
    grid-template-columns: 100%;
    grid-template-areas: "thresholdSelect" "chart";
  }

  .container {
    width: 100%;
    margin-bottom: 1em;
  }

  .thresholdItems {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .thresholdItems > * {
    width: 25%;
  }
}
