@font-face {
  font-family: "LilitaOne-Regular";
  src: url(../public/LilitaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Magical";
  src: url(../public/Magical.ttf) format("truetype");
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0.5em;
}

.container {
  padding: 0 1rem;
  font-family: "Montserrat";

}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mainLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  cursor: pointer;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  position: relative;
  width: 15vmin;
  height: 15vmin;
}

.title {
  padding: 0 0.2em;
  margin: 0;
  font-size: 13vmin;
  line-height: 15vmin;
  height: 13vmin;

  font-family: p22-underground-sc, sans-serif;
  font-weight: 100;
  font-style: normal;
}
