html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-theme="dark"] {
  body {
    background-color: #0e0c0b;
    color: #c5c5c5;
  }

  & .svg-adaptive {
    filter: invert(0.9);
  }
}
