html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --font-color: black;
  --background-color: white;
  --background-color-2: #f6f6f6;
  --background-color-3: #f1f1f1;
  --background-color-4: #e2e2e2;
  --button-color: #fa9842;
  --button-color-secondary: #046486;
  --button-color-secondary-active: #074663;
}

[data-theme="dark"] {
  --font-color: #c5c5c5;
  --background-color: #0e0c0b;
  --background-color-2: #161311;
  --background-color-3: #3a3a3a;
  --background-color-4: #1b1b1b;
  --button-color: #714591;

  & .svg-adaptive {
    filter: invert(0.9);
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
