.container {
  padding: 0 2rem;
  font-family: "LilitaOne-Regular";
  background-color: white;
  color: black;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.loadingBlur .listItem {
  filter: blur(2px);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.mainLogo {
  display: flex;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.gridHeader {
  border: solid #d4d4d4;
  border-width: 0 0 1px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 4fr;
  grid-template-areas: "gridRank gridIcon gridName gridPrice";
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridIcon {
  text-align: center;
  grid-area: gridIcon;
}

.gridRank {
  text-align: center;
  grid-area: gridRank;
}

.grid .gridName {
  justify-content: flex-start;
  grid-area: gridName;
}

.grid .gridPrice {
  justify-content: flex-end;
  padding-right: 10%;
  grid-area: gridPrice;
}
.sorter:hover {
  cursor: pointer;
  font-weight: bold;
}

.title {
  font-family: "Magical", "LilitaOne-Regular", sans-serif;
  margin: 0;
  line-height: 1.15;
  font-size: 8vmax;
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .gridHeader {
    width: 100%;
  }
  .grid {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #111;
    color: #c5c5c5;
  }
  .title {
    color: #c5c5c5;
  }
}

@font-face {
  font-family: "LilitaOne-Regular";
  src: url(../public/LilitaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Magical";
  src: url(../public/Magical.ttf) format("truetype");
}

.cryptoIcon {
  height: 1.5em;

  background-color: white;
  border-radius: 50%;
}
