.container {
  padding: 0 2rem;
  font-family: "LilitaOne-Regular";
  background-color: white;
  color: black;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  display: flex;
}

.button {
  border: solid black 1px;
  border-radius: 10px;
  padding: 0.50em 0.75em;
  margin: 0.5em;
  font-family: "LilitaOne-Regular";
  cursor: pointer;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.gridHeader {
  border: 1px solid #d4d4d4;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas: 'gridIcon gridName gridPrice';
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridIcon {
  text-align: center;
  grid-area: gridIcon;
}

.gridName {
  text-align: left;
  grid-area: gridName;
}

.gridPrice {
  text-align: right;
  padding-right: 10%;
  grid-area: gridPrice;
}

.title {
  font-family: "Magical", "LilitaOne-Regular", sans-serif;
  margin: 0;
  line-height: 1.15;
  font-size: 8vmax;
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .gridHeader {
    width: 100%;
  }
  .grid {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #111;
    color: #c5c5c5;
  }
  .title {
    color: #c5c5c5;
  }
}

@font-face {
  font-family: "LilitaOne-Regular";
  src: url(../public/LilitaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Magical";
  src: url(../public/Magical.ttf) format("truetype");
}
